html{
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif
}
.container{
    width:99vw;
    height: 97vh;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.calculator{
    border:6px solid;
    width:340px;
    height:520px;
    border-radius:5px;
    background-color: black;
    border-bottom-width:10px;
}
.display{
    border:3px solid;
    font-size:4rem;
    display:flex;
    justify-content:flex-end;
    height: 90px;
    align-items: flex-end;
    border-radius: 5px;
    background-color: white;
    border-bottom-width: 4px;
}
.btn{
    margin-top:0px;
    height: 82%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap:5px;
    justify-content: center;
    background-color: black;
    
}
button{
    font-size:1.5rem;
    width: 80px;
    height:80px;
    border-radius:5px;
    border:1px solid;
}
.clear{
    width: 165px;
    background-color: rgb(234, 47, 47);
}
#zero{
    width: 165px;
}
.num{
    background-color: rgb(43, 171, 213);
}
.op{
    background-color:rgb(85, 238, 85);
}
.point{
    background-color: rgb(43, 171, 213); 
}
.equal{
    background-color: rgb(255, 153, 0);
}
.del{
    background-color:grey;
    font-weight:600
}
button:hover{
    opacity:0.6
}
